/*Instagram icon color style START*/
.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text; 
}
/*Instagram icon color style END*/
/*Breadcrumps style STARTS*/
.breadcrumb{
    margin-bottom:0;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);

}
.active{
    color: #ffffff !important;
}
.breadcrumb-item a{
    font-weight: bold;
    color: #ffffff !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff !important;
    content: ">";


}
/*Breadcrumps color style END*/

/*Contact Us color style STARTS*/
.contactus-1{

    /*background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);*/
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    padding:80px 0;
}
/*Contact Us color style END*/

/*Menubar icon color style START*/
.dropdown-menu {
    background-color: #d5fefd;
    background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {

    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);



    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
    background: #ffffff;
    /*color: white;*/
}
.dropdown-menu > li.show > a{
    color: white;

}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
}
/*Menubar icon color style END*/

/*About Us Page color style Starts*/
.abtUsVsnMsnHstry{background-color: #84fb95;
                  background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%) !important;}
.abtUsCustomerSat{background-color: #bbff99;
                  background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
}
.abtUsCommunity{
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);

}
/*About Us Page color style Starts*/

/*Home  Page color style Starts*/
.homeTestimnial{background-color: #84fb95;
                background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%) !important;}

.homeTeamSection{background-color: #ff4e00;
                 background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.homeServicesSection{background-color: #bdd4e7;
                     background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

}
.homeWeSection{background-color: #e899dc;
               background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*.carousel {
    margin-bottom: 4rem;
}*/
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 26rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        /*margin-bottom: 1.25rem;*/
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/*Home  Page  color style End*/

/*Profile  Page  color style Start Dr Gaurav Bhirud Dr Saurabhi Waghmare*/
.profileDiv{
    background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}

/*Profile  Page  color style Start Dr Gaurav Bhirud Dr Saurabhi Waghmare*/

/*Parkinsonism page start*/
.Parkinsonism{
   background-color: #d387ab;
background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
}

/*Parkinsonism page end*/

